.wrapper {
    display: flex;
    margin-bottom: 20px;
}
.fieldset {
    display: flex;
    flex-direction: column;
    grid-row: 10px;
    flex-grow: 1;
}
.label {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.input {
    width: 100%;
    padding: 10px;
    border-radius: 12px;
    border: 1px solid #7786ef;
    background-color: #f2f2f2;
    box-sizing: border-box;
}
textarea {
    resize: none;
    height: 100px;
}
.image {
    max-width: 225px;
    aspect-ratio: 1/1;
   
}
.image>img {
    margin-bottom: 25px;
}
.fileInput {
    display: none;
}
.fileLabel {
    border-radius: 12px;
    background-color: #7786ef;
    color: #f2f2f2;
    padding: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
}